<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- Еще вариант указания статических файлов -->
  <!-- {% load static %} -->
  <!-- <link rel="icon" href="{% static 'images/logo.png' %}">  -->
  
  <link rel="icon" href="/static/images/logo.png"> 
  <link href="/static/css/normalize.min.css" rel="stylesheet">
  <link href="/static/css/lk-style.css" rel="stylesheet">
  
</head>
<body class="inner">

<div class="lk">
  {% include "lk/includes/sidebar.html" %}

  {% block content %}
  {% endblock %}
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/record.js"></script>
</body>
</html>
