<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="yandex-verification" content="eda3cd4db80ef89b" />
  <meta name="description" content="Частная поликлиника – Элиста. Бесплатная запись к врачам по электронной очереди.">
  <meta name="keywords" content="врачи элиста, записаться на приём к врачу, запись на приём, частная поликлиника элиста, поликлиника элиста, запись к врачу элиста">
  <title>Частная поликлиника | Запись на приём к врачу в Элисте</title>
  <!-- Загрузка статики -->
  {% load static %}
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
